<head>
  <meta charset="utf-8"> <!--문자의 인코딩-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--최신 랜더링 엔진 사용-->
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--모바일기기 올바른 뷰포트사용 반응형디자인 지원-->
  
  <!--타이틀-->
  <title>
    {{ page.title | default: site.title | escape }}
  </title>

  <!--설명-->
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}">

  <!--테그-->
  {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  {% endif %}



  <meta name="google-site-verification" content="5LgST4VxF-eF3gBMgf1DAEfTnAT9DvQO9iUYa1hGSIw" /> <!--구글 서치콘솔등록-->
  <meta name="google-adsense-account" content="ca-pub-3712073515065828"> <!--구글 에드센스-->


  {%- seo -%} <!--메타테그 지원-->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}"> <!--css 지원-->
  <link href="/assets/css/syntax.css" rel="stylesheet" />

  {%- feed_meta -%} <!--블로그 피드-->

</head>
