<head>
  <meta charset="utf-8"> <!--문자의 인코딩-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--최신 랜더링 엔진 사용-->
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--모바일기기 올바른 뷰포트사용 반응형디자인 지원-->
  {%- if page.description -%}
    <meta name="description" content="여기에 페이지의 간략한 설명을 입력합니다.">
  {%- else -%}
    <meta name="description" content= "{{ site.description }}">
  {%- endif -%}

  <meta name="google-site-verification" content="5LgST4VxF-eF3gBMgf1DAEfTnAT9DvQO9iUYa1hGSIw" /> <!--구글 서치콘솔등록-->
  <meta name="google-adsense-account" content="ca-pub-3712073515065828"> <!--구글 에드센스-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);  })(window,document,'script','dataLayer','GTM-5KWD8S2B');</script>
  <!-- End Google Tag Manager -->

  {%- seo -%} <!--메타테그 지원-->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}"> <!--css 지원-->
  <link href="/assets/css/syntax.css" rel="stylesheet" />

  {%- feed_meta -%} <!--블로그 피드-->
  {%- include google/google-analytics.html -%}<!--구글 애널리스틱 설정-->

</head>
