.page-header{
    padding-top: 10%;
    padding-bottom: 20px;
}
.page-title{
    font-size: 35px;
    font-family:"Whisper" ,cursive;
    font-weight: lighter;
    color: rgb(247, 248, 203);
    text-shadow: 2px 2px 4px rgba(235, 235, 235, 0.349);
    line-height: 0.8;
}

.rss-subscribe a{
    color: rgb(179, 235, 221);
}