#article_header .inner_header{
  position: relative;
  translate: 0;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

#article_header .inner_header:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000008a;

}

//모바일
@media screen and (max-width: 800px) {

#article_header .info_text {
  position: relative;
  /*드디어 찾음 z버퍼 순서 안되는 이유 */
  //width: 700px;
  margin-left: auto;
  margin-right: auto;
  //top: 40%;
  transform: translate(0, calc(55% + 5vw));
  z-index: 2;
  //text-align: center;
  color: #f3f5de;
  box-sizing: border-box;
}


#article_header .title_post {
  //font-family:"Nanum Brush Script";
  font-family: "Bazzi", sans-serif;
  font-size: calc(8px + 5vw);
  line-height: 50px;
  color:#fff690;
  text-shadow:2px 2px 4px #8eb8b9;
}

}

//전체
@media screen and (min-width: 800px) {

  #article_header .info_text {
    position: relative;
    /*드디어 찾음 z버퍼 순서 안되는 이유 */
    //width: 700px;
    margin-left: auto;
    margin-right: auto;
    //top: 40%;
    transform: translate(0, 80%);
    z-index: 2;
    //text-align: center;
    color: #f3f5de;
    box-sizing: border-box;
  }
  
  
  #article_header .title_post {
    //font-family:"Nanum Brush Script";
    font-family: "Bazzi", sans-serif;
    font-size: 48px;
    line-height: 48px;
    color:#fff690;
    text-shadow:2px 2px 4px #8eb8b9;
  }
 


}

#article_header .info_text .info {
  margin-top: 10px;
  font-size: 12px;
}

#article_header .info_text .info .info_category {
  color: #ff8181;
}

#article_header .info_text .info .info_date {
  color: #d1cfb7
}

#tag {
  margin-top: 5px;
  margin-bottom: 5px;

}
#tag .tag_title{
  font-size: 15px;
  color: #eec49d;
  float:left;
}

#tag .tag_item {
  margin-top: 4px;
  text-decoration: none;
  color: #ff8181;
  font-size: 13px;
  float:left;
}
#tag .tag_item:hover {
  text-decoration: none;
  font-size: 13px;
}
#title_related_links{
  color: #a1e590;
  font-family: "Bazzi", sans-serif;
  font-size: 25px;
}


#related_links {
  padding-top:10px;
  padding-bottom:10px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden;
  width:100%;
}

#related_links .related_item {
  border: 2px solid #cbf5ff;
  margin-left:5px;
  margin-right:5px;
  width: 200px;
  height: 180px;
}

#related_links .related_item a{
  color: #f5bef3;
  text-decoration: none;
}

#related_links .related_item img{
  width: 200px;
  height: 120px;
  object-fit: fill;
}

#related_links .related_item .related_title{
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Bombanghak", sans-serif;
  font-size: 25px;
  line-height:0.92;
}