#line hr {
  background: rgb(152, 195, 236);
  height: 1px;
}


.post_content {
 
  
  h1 {
    font-size: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.4;
    font-family: "Bazzi", sans-serif;
    
  }

  h2 {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 1.4;
    font-family: "Bazzi", sans-serif;
    font-weight: 100;
  }

  h3 {
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    line-height: 1.4;
    font-family: "Bombanghak", sans-serif;
  }

  h4 {
    font-size: 28px;
    margin-bottom: 5px;
    line-height: 25px;
    font-family: "Bombanghak", sans-serif;
  }


  h5 {
    line-height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    line-height: 26px;
    font-family: "NanumBujangnim", sans-serif;
  }

  h6 {
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 3px;
    line-height: 15px;
    font-family: "NanumBujangnim", sans-serif;
  }


  p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "NanumBujangnim", sans-serif;
    font-size: 25px;
    line-height: 28px;
  }

  ul {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  ol {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  li {
    padding-top: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "NanumBujangnim", sans-serif;
    font-size: 25px;
  }

  iframe {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a {
    color: #bcbcff;
  }

  a:hover {
    color: #6b6bff;
  }

  img+em {
    display: block;
    text-align: center;
    padding-bottom: 5px;
  }

  blockquote {
    border-left: 8px solid #27a9e3;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  yellow1_h1 {
    color: #f3ffb8;
  }

  yellow1_h2 {
    color: #ffe314;
  }

  yellow1_h3 {
    color: #fffab7;
  }

  yellow1_h5 {
    color: #82ff86;
    display: inline;
  }

  red1_error {
    color: #fd510f;
    //-webkit-text-stroke: 1px #e6e6e654;
  }

  green1_h2 {
    color: #0deb14;
  }

  green1_h3 {
    color: #a4eba4;
  }

  green1_h4 {
    color: #39a1ff;
  }

  green1_h5 {
    color: #74a8d7;
  }

  blue1_h2 {
    color: #9c14ff;
  }

  blue1_h3 {
    color: #e7b6ff;
  }

  blue1_h4 {
    color: #ffb6ef;
  }

  blue1_h5 {
    color: #ffb282;
  }

  highlight_orange {
    color: #ffc399
  }

  highlight_blue {
    color: #99e2ff
  }


  web_h2 {
    color: #99DDC8;
  }
  web_h3 {
    color: #95BF74;
  }
  web_h4 {
    color: #659B5E;
  }
  web_h5 {
    color: #b4d99c;
  }
  web_h6{
    color: #d8fbe6;
  }

  unity_h2 {
    color: #9AEDF4;
  }
  unity_h3 {
    color: #75BEDA;
  }
  unity_h4 {
    color: #ACE2E1;
  }
  unity_h5 {
    color: #41C9E2;
  }
  unity_h6{
    color: #008DDA;
  }

  data_h2 {
    color: #cf94cd;
  }
  data_h3 {
    color: #D81E5B;
  }
  data_h4 {
    color: #F0544F;
  }
  data_h5 {
    color: #D59993;
  }
  data_h6{
    color: #FDF0D5;
  }


  cpp_h2 {
    color: #C5EBAA;
  }
  cpp_h3 {
    color: #A5DD9B;
  }
  cpp_h4 {
    color: #E5E483;
  }
  cpp_h5 {
    color: #D2D180;
  }
  cpp_h6{
    color: #B2B377;
  }


}