<article class="post_arkitcle">
  <div class="post_bookmark">
    {% if post-bookmark.image %}
    <div class="post_img">
      <img src="{{ post-bookmark.image }}" alt="{{ post-bookmark.title }}의 대표 이미지">
    </div>
    {% endif %}
  
    <a href="{{ post-bookmark.url | relative_url |  remove: '.html'}}" class="post_link">
      <strong class="post_tit "> <!--제목-->
        {{ post-bookmark.title | escape }}
      </strong>
      <p class="post_txt"> <!--본문-->
        {{ post-bookmark.content | markdownify | strip_html | truncate: 250 | escape }}
      </p>
    </a>
    <div class="detail_info">
      <a href="{{ post-bookmark.url | relative_url | remove: '.html'}}" class="post_cate"> <!--카테고리-->
        {% for category in post-bookmark.categories %}
        <!--{{ post.categories | escape }}-->
        {{category}}
        {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      </a>
      <span class="post_date"> <!--날짜-->
        {%- assign date_format = site.minima.date_format | default: "%Y.%m.%d. %R" -%}
        {{ post-bookmark.date | date: date_format }}
      </span>
    </div>
    {%- if site.show_excerpts -%}
      {{ post-bookmark.excerpt }}
    {%- endif -%}
    </div>
  </article>