@media screen and (min-width: 1320px) {
    .site-header {
        display: none;
    }
}

@media screen and (max-width: 1320px) {
    .site-header {
        border-top: 1px solid #696969;
        border-bottom: 1px solid #696969;
        min-height: 60px;
        background-color: #000000;
        // Positioning context for the mobile navigation icon
        position: relative;
    }

    .site-title {
        font-size: 26px;
        font-weight: 10;

        line-height: 60px;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        margin-left: 50px;
        font-family: "Whisper", cursive;

        &,
        &:visited {
            color: #ffffff;
            text-decoration-line: none;
        }
    }


    .site-nav {
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: 90vw;
        background-color: #000000;
        border: 2px solid #696969;
        border-radius: 5px;
        text-align: left;
        z-index: 10;
        word-break: break-all;

        #nav-list {
            display: none;
        }

        label[for="nav-list"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            background-color: #000000;
            cursor: pointer;

        }

        .menu-icon {
            display: block;
            float: right;
            width: 60px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            >svg {
                width: 85px;
                fill: #ffffff;
            }
        }

        //input에서 체크안했으면
        input~.trigger {
            clear: both;
            display: none; //안보여줌
        }

        //체크됬으면 
        input:checked~.trigger {
            display: block;
            padding-bottom: 5px;
        }


        #categories_list #categories_item {
            color: rgb(238, 184, 159);
            font-size: 32px;
            font-family:  "Bazzi",sans-serif;
            transition: all 0.2s;
        }

        #categories_list #categories_item:hover {
            text-decoration: none;
            //background-color: rgb(131, 131, 131, 0.2);
            color: rgb(202, 70, 70);
        }

       #categories_sub a {
            color: rgb(158, 163, 223);
            font-size: 24px;
            font-family: "Bombanghak",sans-serif;
            transition: all 0.2s;
        }

        #categories_sub a:hover {
            text-decoration: none;
            //background-color: rgb(131, 131, 131, 0.2);
            color: rgb(70, 84, 212);
        }


        #categories_list ul {
            margin-top: 2px;
            margin-bottom: 5px;
            margin-left:-10px;
        }


        #categories_list_li::marker {
            color: rgb(255, 145, 112);
        }

        #categories_sub li::marker {
            color: rgb(184, 191, 255);
        }
    }
}