---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "KJ";

@font-face {
    font-family: "NanumBujangnim";
    src: url('/assets/fonts/NanumBujangnim.ttf') format('truetype');
    //src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Bujangnim_nunchi.woff') format('woff');
}

@font-face {
    font-family: "Bazzi";
    src: url('/assets/fonts/Bazzi OTF.woff') format('woff');
    //src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
}

@font-face {
    font-family: "WindSong";
    src: url('/assets/fonts/WindSong-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Whisper";
    src: url('/assets/fonts/Whisper-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Bombanghak";
    src: url('/assets/fonts/NanumDaSiSiJagHae.ttf') format('truetype');
    //src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBombanghakR.woff2') format('woff2');
    //src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_09@1.0/Restart.woff') format('woff');
}
