#right-side-bar {
    @include pl-pr(0);
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    overflow-y: auto;
    width: $sidebar-width;
    z-index: 5;
    background: var(--sidebar-bg);
    background-color:rgb(20, 20, 20);
 
    border-right: 1px solid var(--sidebar-border-color);

    //스크롤바 안쓸꺼임
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    %sidebar-link-hover {
        &:hover {
          color: black; //다른스타일 지정할꺼면 var(--sidebar-active-color)
        }
    }
}

@media screen and (max-width: 1320px) {
    #right-side-bar {
        display: none;
    }
}


#toc_box{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1px;
    
    font-size: 12px;
  

    line-height: 1.2;
    z-index: 8;
}



#toc_container #TOC_tilte{
    margin-left: 30px;
    color: rgb(240, 240, 240);
    font-size: 18px;
    font-family: "Whisper", cursive;
    transition: all 0.2s;
    line-height: 1.3;

}
#toc_container ul{
    margin-top: 5px;
    margin-right:15px;
}

#toc_container .TOC_list_h2{

    margin-top: 5px;
}


#toc_container .TOC_list_h2 a{
    color: rgb(238, 184, 159);
    font-size: 20px;
    font-family: "Bazzi",sans-serif;
    transition: all 0.2s;
    text-decoration: none;
  }
  
  #toc_container .TOC_list_h2 a:hover {
    text-decoration: none;
    //background-color: rgb(131, 131, 131, 0.2);
    color: rgb(202, 70, 70);
  }



#toc_container .TOC_list_h2::marker{
    color: rgb(255, 145, 112);
}


#toc_container .TOC_list_h3{
    margin-left: 20px;
    margin-bottom: 1px;

}

#toc_container .TOC_list_h3 a{
    color: rgb(158, 163, 223);
    font-size: 18px;
    font-family: "Bombanghak",sans-serif;
    transition: all 0.2s;
    text-decoration: none;
    line-height: 1.2;
  }
  
  #toc_container .TOC_list_h3 a:hover {
    text-decoration: none;
    //background-color: rgb(131, 131, 131, 0.2);
    color: rgb(70, 84, 212);
  }

#toc_container .TOC_list_h3::marker{
    color: rgb(184, 191, 255);
}
