<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head/head.html -%}
  {%- include side-bar/left.html -%}
  {%- include side-bar/right.html -%}
  {%- include head/header.html -%}
  <style>
    html, body{
      background-color: #333;
      overflow-x:hidden;
    }

  </style>  

  <body>
    <main class="main" aria-label="Content">
      <!-- <div id="meteorContainer">
        <script src="/assets/js/meteor.js"></script>
      </div> -->

      <div class="main-wrapper">
        {{ content }}
      </div>

   
    </main>


  </body>

</html>
