<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head/head.html -%}
  {%- include side-bar/left.html -%}
  {%- include side-bar/right.html -%}
  {%- include head/header.html -%}
  <style>
    html, body{
      background-color: #333;
      overflow-x:hidden;
    }

  </style>  

  <body>
    <main class="main" aria-label="Content">
      <div class="main-wrapper">
        {{ content }}
      </div>
      <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KWD8S2B"  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>  
      <!-- End Google Tag Manager (noscript) -->
    </main>


  </body>

</html>
