---
layout: default
---
<div id="cover_top_sidebar">
  <div ><!--href="https://www.notion.so/kyeoungju/KyeoungJu-Kim-268cb03b25e149a19deda8adbbc38bc7?pvs=4">-->
    Summary_Portfolio
  </div>
</div>

<div class="slideshow-container">
  {%- for image in site.data._sliders.images -%}
  <div class="slides_list"  style="background-image: url('/assets/img/{{ image.title }}');">
    <div id="slides_list_title">
      <strong> 
        {{ image.title | remove: ".png" }} 
      </strong>
      <p id="slides_list_text">
        {{ image.summary }} 
      </p>
      <a href="{{ image.link | relative_url }}" class="slides_list_link">
        {{ image.title | remove: ".png"  }}  자세히 보기
      </a>

    </div>
  </div>
  {% endfor %}
  
  {%- include footer/footer.html -%}
</div>
<script src="{{ site.baseurl }}/assets/js/silder.js"></script>






