---
layout: default
---
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <!--헤더-->
  <header class="post-header">
    <div id="area_article">
      <div id="article_header"> <!--백그라운드 그림-->
        <link rel="preload" href="{{ page.image| escape }}" as="image"> <!--미리로드-->
        <div class="inner_header" style="background-image:url( '{{ page.image| escape }}' )">

          <div class="info_text">
              <h1 class="title_post"> <!--타이틀-->
                {{ page.title | escape }}
              </h1>

            <p class="info"> <!--정보-->
              <span class="info_category"> <!--카테고리-->
                {{ page.categories[0] | escape }}
              </span>
              ㆍ
              <span class="info_date"> <!--날짜-->
                {%- assign date_format = site.minima.date_format | default: "%Y.%m.%d. %R" -%}
                {{ page.date | date: date_format }}
              </span>
            </p>
          </div>

        </div>
      </div>
    </div>
    
    {%- include google/_top_add_sence.html -%}
    <!-- 우선안씀 -->
    {%- if page.addsence -%}
    {%- endif -%}

  

    <div class="post_content" itemprop="articleBody">   
      <div id="line">
        <hr />
      </div>
      <p>
        <br>
      </p>
      
      {{ content }}
      <p>
        <br>
      </p>
      <div id="line">
        <hr />
      </div>
        <br>
    </div>

    {%- if page.related_links -%}
    <div id="title_related_links">연관 포스트:</div>
    <div id="related_links">
      {%- for link in page.related_links -%}
        {%- for post in site.posts -%}
          {%- if post.url == link.url -%}
          <div class="related_item">
            <a href="{{ post.url | relative_url }}">
              <img src="{{ post.image | escape }}" alt="Example Image">
              <div class="related_title"> {{ post.title }} </div>
            </a>
          </div>  
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </div>
    {%- endif -%}
    
    <!--gitalk-->
    <div id="gitalk-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var currentPath = window.location.pathname;

        var gitalk = new Gitalk({
          clientID: '{{ site.gitalk.clientID }}',
          clientSecret: '{{ site.gitalk.clientSecret }}',
          repo: '{{ site.gitalk.repo }}',
          owner: '{{ site.gitalk.owner }}',
          admin: '[{{ site.gitalk.owner }}]',
          id: currentPath,
          distractionFreeMode: false
        });
    
        // if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
        //   document.getElementById('gitalk-container').innerHTML = 'Gitalk comments not available by default when the website is previewed locally.';
        //   return;
        // }
        gitalk.render('gitalk-container');
      });
    </script>


    {%- if page.tags -%}
    <div id="tag">
      <div class="tag_title"> tag:&nbsp </div>
      {%- for tag in page.keywords -%}
       <div class="tag_item">{{ tag }}, </div>  
      {%- endfor -%}
    </div>
    {%- endif -%}



    

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%} 
  </header>
</article>