---
layout: default
---
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <!--헤더-->
  <header class="post-header">
    <div id="area_article">
      <div id="article_header"> <!--백그라운드 그림-->
        <link rel="preload" href="{{ page.image| escape }}" as="image"> <!--미리로드-->
        <div class="inner_header" style="background-image:url( '{{ page.image| escape }}' )">

          <div class="info_text">
              <h1 class="title_post"> <!--타이틀-->
                {{ page.title | escape }}
              </h1>

            <p class="info"> <!--정보-->
              <span class="info_category"> <!--카테고리-->
                {{ page.categories[0] | escape }}
              </span>
              ㆍ
              <span class="info_date"> <!--날짜-->
                {%- assign date_format = site.minima.date_format | default: "%Y.%m.%d. %R" -%}
                {{ page.date | date: date_format }}
              </span>
            </p>
          </div>

        </div>
      </div>
    </div>
    
    {%- if page.addsence -%}
    {%- include google/_top_add_sence.html -%}
    {%- endif -%}

    <br>
    <div id="line">
      <hr />
    </div>
    <br>

    <div class="post_content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if page.tags -%}

    <br>
    <div id="line">
      <hr />
    </div>
    <br>

    <div id="tag">
      <div class="tag_title"> tag:&nbsp </div>
      {%- for tag in page.tags -%}
       <div class="tag_item">{{ tag }}, </div>  
      {% endfor %}

    </div>
    {% endif %}

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}
  </header>
</article>